/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* the main CSS started from here */

body {
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-container {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid lightslategray;
    width: 90%;
    text-align: center;
}

.nav-first-link {
    border-top: 2px solid lightslategray;
}
  
.nav-container > div > a {
    text-decoration: none;
    color: lightslategray;
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.slide-text {
    font-family: 'Bangers', cursive;
    font-size: 60px;
    text-align: center;
    line-height: 1.2;
}

.slide-button {
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-img {
    text-align: center;
    padding-top: 40px;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.h2-text {
    padding-top: 40px;
    width: 90%;
}

.first-h2-text {
    border-top: 2px solid black;
}

.footer-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.paragraph-text {
    width: 90%;
}

.copyright {
    padding: 40px 0 40px 0;
    text-align: center;
}


